@page
@model LoginModel

<div class="row justify-content-center">
    <div id="all">
        <div id="content">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box">
                            <h1>Вход</h1>
                            <p class="lead">Вече сте наш клиент?</p>
                            <p class="text-muted">
                                Влезте в профила си, за да може да следите състоянието и историята на поръчките си!
                            </p>
                            <hr>
                            <form action="customer-orders.html" method="post">
                                <div class="form-group">
                                    <label asp-for="Input.Email">E-mail адрес</label>
                                    <input asp-for="Input.Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password">Парола</label>
                                    <input asp-for="Input.Password" type="password" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Вход</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right">
                            <span class="loginwith">Вход чрез<br />социални мрежи</span>
    
                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="social-signup @(provider.DisplayName.ToLower())" name="provider" value="@provider.Name">Вход със @provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
