@page
@model RegisterModel
<div class="row justify-content-center">
    <div id="all">
        <div id="content">
            <div class="container mt-4">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="box">
                            <h1>Нова регистрация</h1>
                            <p>Създавайки профил, вие ще можете да пазарувате по-бързо, да следите състоянието и историята на поръчките си и да се възползвате от редица бонуси, достъпни само за регистрираните ни потребители.</p>
                            <hr>
                            <form action="customer-orders.html" method="post">
                                <div class="form-group">
                                    <label for="name">Име</label>
                                    <input id="name" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail адрес</label>
                                    <input id="email" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Парола</label>
                                    <input id="password" type="password" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i>Регистрирай ме</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
