 <h1>Моят профил</h1>
<p class="lead">Редактиране на профилните данни.</p>
<h3>Смяна на парола</h3>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password_old">Стара парола</label>
                <input id="password_old" type="password" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password_1">Нова парола</label>
                <input id="password_1" type="password" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password_2">Потвърдете новата парола</label>
                <input id="password_2" type="password" class="form-control">
            </div>
        </div>
    </div>
    <!-- /.row-->
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Запази промените</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial"/>