<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Страници</h4>
                <ul class="list-unstyled">
                    <li><a href="text.html">За Нас</a></li>
                    <li><a href="text.html">Правила и Условия</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Свържете се с Нас</a></li>
                </ul>
               @if (!this.User.Identity.IsAuthenticated)
               {
                   <hr>
                   <h4 class="mb-3">Потребители</h4>
                   <ul class="list-unstyled">
                       <li><a asp-area="Identity" asp-page="/Account/Login">Вход</a></li>
                       <li><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
                   </ul>
               }
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Свържете се с нас</h4>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <i class="fa fa-phone"></i> 0888888888
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> ColorMix@gmail.com
                    </li>
                </ul>
                <a href="https://www.google.com/maps/place/%D0%9C%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD+Color+Mix-+%D0%94%D1%80%D0%B5%D1%85%D0%B8+%D0%92%D1%82%D0%BE%D1%80%D0%B0+%D0%A3%D0%BF%D0%BE%D1%82%D1%80%D0%B5%D0%B1%D0%B0/@@42.4212517,25.6133509,18z/data=!4m13!1m7!3m6!1s0x40a8698f6d5845f7:0xd09830091b8e863c!2z0LHRg9C7LiDigJ7QptCw0YAg0KHQuNC80LXQvtC9INCS0LXQu9C40LrQuOKAnCAxOCwgNjAwMyDQmtCw0LfQsNC90YHQutC4LCDQodGC0LDRgNCwINCX0LDQs9C-0YDQsA!3b1!8m2!3d42.4211276!4d25.6136954!3m4!1s0x0:0x50cc2b90cceaaceb!8m2!3d42.4213892!4d25.6135729?hl=bg">
                    <i class="fas fa-map-marked-alt mr-1"></i> Виж GOOGLE Карта
                </a>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Намерете ни</h4>
                <p>
                    <strong>Color Mix</strong><br>Стара Загора<br>бул.Цар Симеон Велики 18<br>Под Новия парк<br><strong>България</strong>
                </p>
                <a asp-action="Contacts", asp-controller="Home">Свържете се с нас</a>
                <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Следвайте ни!</h4>
                <p class="social">
                    <a href="#" class="facebook external"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="email external"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
            <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>