<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Страници</h4>
                <ul class="list-unstyled">
                    <li><a href="text.html">За Нас</a></li>
                    <li><a href="text.html">Правила и Условия</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Свържете се с Нас</a></li>
                </ul>
               @if (!this.User.Identity.IsAuthenticated)
               {
                   <hr>
                   <h4 class="mb-3">Потребители</h4>
                   <ul class="list-unstyled">
                       <li><a href="#" data-toggle="modal" data-target="#login-modal">Вход</a></li>
                       <li><a href="register.html">Регистрация</a></li>
                   </ul>
               }
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Топ Категории</h4>
                <h5>Мъже</h5>
                <ul class="list-unstyled">
                    <li><a href="category.html">Тениски</a></li>
                    <li><a href="category.html">Ризи</a></li>
                    <li><a href="category.html">Блузи</a></li>
                </ul>
                <h5>Жени</h5>
                <ul class="list-unstyled">
                    <li><a href="category.html">Рокли</a></li>
                    <li><a href="category.html">Поли</a></li>
                    <li><a href="category.html">Тениски</a></li>
                    <li><a href="category.html">Блузи</a></li>
                </ul>
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Намерете ни</h4>
                <p><strong>Color Mix</strong><br>Стара Загора<br>бул.Цар Симеон Велики 18<br>Под Новия парк<br><strong>България</strong></p><a href="contact.html">Свържете се с нас</a>
                <hr class="d-block d-md-none">
            </div>
            <!-- /.col-lg-3-->
            <div class="col-lg-3 col-md-6">
                <h4 class="mb-3">Следвайте ни!</h4>
                <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>