@page
@model ChangePasswordModel

<div id="all">
    <div id="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-3">
                    <!--Customer meu-->
                    <partial name="_CustomerMenupartial" />
                    <!--Customer menu end-->
                </div>
                <div class="col-lg-9">
                    <div class="box">
                        @if (this.TempData.Count > 0)
                        {
                            <div class="alert alert-success custom-alert" role="alert">
                                @this.TempData["ChangedPassword"]
                            </div>
                        }
                        <h1>Редактиране на профилните данни</h1>
                        <h3 class="mt-5">Смяна на паролата</h3>
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.OldPassword"></label>
                                        <input asp-for="Input.OldPassword" class="form-control" />
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.NewPassword"></label>
                                        <input asp-for="Input.NewPassword" class="form-control" />
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Запази промените</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        window.setTimeout(function() {

            $(".custom-alert").slideUp(500, function() {
                $(this).remove();
            });
        }, 3000);
    </script>
}
