@model IEnumerable<CategoryViewModel>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand home"><img src="/img/logo.png" alt="Obaju logo" class="d-none d-md-inline-block"><img src="img/logo-small.png" alt="Obaju logo" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>

        <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link active">Начало</a>
                </li>
                @foreach (var menuItem in Model)
                {
                    <li class="nav-item dropdown menu-large">
                        <a href="#" data-delay="200" class="nav-link">@menuItem.Name</a>
                    </li>
                }
            </ul>

            <!--Shopping Cart-->
            <div class="navbar-buttons d-flex justify-content-end">
                <!-- /.nav-collapse-->
                @if (!this.User.Identity.IsAuthenticated)
                {
                    <div id="basket-overview" class="d-lg-block"><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary navbar-btn"><i class="fas fa-sign-in-alt mr-1"></i><span>Вход</span></a></div>
                    <div id="basket-overview" class="d-lg-block"><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary navbar-btn"><i class="fas fa-user-plus mr-1"></i><span>Регистрация</span></a></div>
                }
                <div id="basket-overview" class="d-lg-block"><a asp-controller="Home" asp-action="Contacts" class="btn btn-primary navbar-btn"><i class="far fa-comments mr-1"></i><span>Контакти</span></a></div>

                <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>3 продукта в количката</span></a></div>

                @if (this.User.Identity.IsAuthenticated)
                {
                    <div id="basket-overview" class="d-lg-block"><a asp-controller="Users" asp-action="MyPersonalData" class="btn btn-primary navbar-btn"><i class="fas fa-user mr-1"></i><span>Профил</span></a></div>

                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">

                        <button type="submit" class="btn btn-primary mr-2"> <i class="fas fa-sign-out-alt mr-1"></i> Излез</button>
                    </form>
                }
            </div>
        </div>
    </div>
</nav>